.root {
  display: flex;
  flex-direction: column;
}
.head {
  padding-top: 20px;
  padding-bottom: 20px;
}
.playerAndDescription {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-column-gap: 40px;
}
.player {
  grid-column: 1;
}
.playerWrapper {
}
.description {
  grid-column: 2;
}
.simulyar {
}
.ActorsCreators {
}
.AdditionalMaterials {
}
.comments {
}
.allDvices {
}
