@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  color: var(--white);
  font-family: 'Source Sans Pro', Arial, Helvetica, Helvetica Neue, FreeSans,
    sans-serif;
}

html,
body {
  background: #100e19;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--gray-light) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 34px !important;
}