@font-face {
	font-family: "iviSans";
	src: local("iviSans"), url("./fonts/iviSans-Regular.woff2") format("woff2");
	font-weight: 500;
}
@font-face {
	font-family: "iviSans";
	src: local("iviSans"), url("./fonts/iviSans-Medium.woff2") format("woff2");
	font-weight: 600;
}
@font-face {
	font-family: "iviSans";
	src: local("iviSans"), url("./fonts/iviSans-Bold.woff2") format("woff2");
	font-weight: 700;
}

* {
	color: var(--white);
	font-family: "iviSans", Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
}
html,
body {
	background: #100e19;
}

#root {
	height: 100%;
}
